{% extends "base.html" %}

{% block title %}Veranstaltungen - Vaple{% endblock %}

{% block content %}
    <h1>Veranstaltungen</h1>
    <div class="filters">
      <div class="quicklinks">
        {% for link in quicklinks %}
        <a href="?from={{ link.date_from.isoformat }}&to={{ link.date_to.isoformat }}">{{ link.title }}</a>
        {% endfor %}
      </div>
      <form method="get" class="pat-autosubmit">
        <label for="from">Von</label><input name="from" type="date" value="{{ date_from.isoformat }}" />
        <label for="to">Bis</label><input name="to" type="date" value="{{ date_to.isoformat }}" />
        <input type="submit" value="Filtern" />
      </form>
    </div>
    <div class='event-list' id="event-list">
        <div class="row headers">
            <span class="small"></span>
            <span>Datum</span>
            <span>Mitarbeiter</span>
        {% for name in verbose_names %}
            <span>{{ name }}</span>
        {% endfor %}
        </div>
    {% for eventdate, event, eventdate_form, event_form in object_list %}
        <div class="row event-{{ event.id }}">
            <form id="eventdate-add-form-{{ eventdate.id }}" method="post" action="{% url 'vaple_core:add_event_date' %}">
                {% csrf_token %}
                <input name="event" type="hidden" value="{{ event.id }}" />
                <input name="date" type="hidden" value="{{ eventdate.date.isoformat }}" />
                <span class="small">
                    <input type="submit" value="Hinzufügen">
                </span>
            </form>
            <form id="eventdate-form-{{ eventdate.id }}" method="post" class="pat-autosubmit pat-inject"
                  action="{% url 'vaple_core:update_event_date' eventdate.id %}#event-list">
                {% csrf_token %}
                <span>
                    <input name="date" type="date" value="{{ eventdate.date.isoformat }}" />
                    <input name="event" type="hidden" value="{{ event.id }}" />
                    <input type="submit" value="Speichern" class="save eventdate">
                </span>
            </form>
            <form id="eventdate-employees-form-{{ eventdate.id }}" method="post" class="pat-autosubmit pat-inject"
                  action="{% url 'vaple_core:update_event_date' eventdate.id %}#eventdate-employees-form-{{ eventdate.id }}">
                {% csrf_token %}
                <input name="event" type="hidden" value="{{ event.id }}" />
                <input name="date" type="hidden" value="{{ eventdate.date.isoformat }}" />
                {{ eventdate_form.as_spans }}
                <span class="save employees">
                    <input type="submit" value="Speichern">
                </span>
            </form>
            <form id="event-form-{{ event.id }}-{{ eventdate.id }}" method="post" class="pat-autosubmit pat-inject event-form-{{ event.id }}" action="{% url 'vaple_core:update_event' event.id %}#event-list">
              {% csrf_token %}
              {{ event_form.as_spans }}
              <span></span>
              <span class="save event"><input type="submit" value="Speichern"></span>
            </form>

            {% if event.eventdate_set.all|length > 1 %}
            <form method="post" action="{% url 'vaple_core:delete_event_date' eventdate.id %}">
              {% csrf_token %}
              <span><input type="submit" value="Entfernen"></span>
            </form>
            {% else %}
            <form method="post" action="{% url 'vaple_core:delete_event' event.id %}">
              {% csrf_token %}
              <span><input type="submit" value="Löschen"></span>
            </form>
            {% endif %}
        </div>
    {% empty %}
        <p>Keine Veranstaltungen mit den gewählten Kriterien gefunden.</p>
    {% endfor %}
    {% for event, form in orphans %}
        <div class="row">
          <span>
          </span>
          <form id="eventdate-add-form-{{ event.id }}" method="post" action="{% url 'vaple_core:add_event_date' %}">
              {% csrf_token %}
              <input name="event" type="hidden" value="{{ event.id }}" />
              <span>
                  <input name="date" type="date" value="{{ today }}" />
                  <input class="save" type="submit" value="Speichern">
              </span>
          </form>
          <span>
          </span>
          <form method="post" action="{% url 'vaple_core:update_event' event.id %}">
            {% csrf_token %}
            {{ form.as_spans }}
            <span></span>
            <span class="save"><input type="submit" value="Speichern"></span>
          </form>
          <form method="post" action="{% url 'vaple_core:delete_event' event.id %}">
            {% csrf_token %}
            <span><input type="submit" value="Löschen"></span>
          </form>

        </div>
    {% endfor %}
    <form method="post" action="{% url 'vaple_core:add_event' %}">
        {% csrf_token %}
        <input name="title" type="hidden" value="Neue Veranstaltung" />
        <input name="room" type="hidden" value="" />
        <input name="sound_type" type="hidden" value="NONE" />
        <input type="submit" value="Neu">
    </form>
{% endblock %}
