{% extends "base.html" %}

{% block title %}Veranstaltungen - Vaple{% endblock %}

{% block content %}
    <h1>Veranstaltungen</h1>
    <div class="filters">
      <div class="quicklinks">
        {% for link in quicklinks %}
        <a class="{{ link.is_current }}" href="?from={{ link.date_from.isoformat }}&to={{ link.date_to.isoformat }}">{{ link.title }}</a>
        {% endfor %}
      </div>
      <form method="get" class="pat-autosubmit">
        <label for="from">Von</label><input name="from" type="date" value="{{ date_from.isoformat }}" />
        <label for="to">Bis</label><input name="to" type="date" value="{{ date_to.isoformat }}" />
        <input type="submit" value="Filtern" class="save" />
      </form>
    </div>
    <div class="export">
        Export: 
        <a href="export-full?from={{ date_from.isoformat }}&to={{ date_to.isoformat }}">Voll</a>
        <a href="export-employees-batch?from={{ date_from.isoformat }}&to={{ date_to.isoformat }}">Mitarbeiter</a>
    </div>
    <div class="event-list" id="event-list">
    {% if object_list %}
        <div class="row header">
            <span class="small"></span>
            <span>Datum</span>
            <span>Mitarbeiter</span>
        {% for name in verbose_names %}
            <span>{{ name }}</span>
        {% endfor %}
            <span></span>
        </div>
    {% endif %}
    {% for eventdate, event, eventdate_form, event_form in object_list %}
        <div class="row event-{{ event.id }}">
            <span class="small">
                <form id="eventdate-add-form-{{ eventdate.id }}" method="post" class="pat-inject"
                      action="{% url 'vaple_core:add_event_date' %}#event-list">
                    {% csrf_token %}
                    <input name="event" type="hidden" value="{{ event.id }}" />
                    <input name="date" type="hidden" value="{{ eventdate.date.isoformat }}" />
                    <input name="from" type="hidden" value="{{ date_from.isoformat }}" />
                    <input name="to" type="hidden" value="{{ date_to.isoformat }}" />
                    <input type="submit" value="+">
                </form>

                <form method="post" class="pat-inject"
                      action="{% url 'vaple_core:delete_event_date' eventdate.id %}#event-list">
                    {% csrf_token %}
                    <input name="from" type="hidden" value="{{ date_from.isoformat }}" />
                    <input name="to" type="hidden" value="{{ date_to.isoformat }}" />
                    <input type="submit" value="-">
                </form>
            </span>

            <span>
                <form id="eventdate-form-{{ eventdate.id }}" method="post" class="pat-autosubmit pat-inject"
                    action="{% url 'vaple_core:update_event_date' eventdate.id %}#event-list">
                    {% csrf_token %}
                        <input name="date" type="date" value="{{ eventdate.date.isoformat }}" />
                        <input name="event" type="hidden" value="{{ event.id }}" />
                        <input name="from" type="hidden" value="{{ date_from.isoformat }}" />
                        <input name="to" type="hidden" value="{{ date_to.isoformat }}" />
                        <input type="submit" value="Speichern" class="save eventdate">
                </form>
            </span>
            <span>
                <form id="eventdate-employees-form-{{ eventdate.id }}" method="post" class="pat-autosubmit pat-inject"
                    action="{% url 'vaple_core:update_event_date' eventdate.id %}#eventdate-employees-form-{{ eventdate.id }}">
                    {% csrf_token %}
                    <input name="event" type="hidden" value="{{ event.id }}" />
                    <input name="date" type="hidden" value="{{ eventdate.date.isoformat }}" />
                    {{ eventdate_form.as_spans }}
                    <input name="from" type="hidden" value="{{ date_from.isoformat }}" />
                    <input name="to" type="hidden" value="{{ date_to.isoformat }}" />
                    <span class="save employees">
                        <input type="submit" value="Speichern">
                    </span>
                </form>
            </span>
            <form id="event-form-{{ event.id }}-{{ eventdate.id }}" method="post" class="pat-autosubmit pat-inject event-form-{{ event.id }}"
                  data-pat-autosubmit="delay: 3000ms"
                  action="{% url 'vaple_core:update_event' event.id %}#event-list">
              {% csrf_token %}
              {{ event_form.as_spans }}
              <input name="from" type="hidden" value="{{ date_from.isoformat }}" />
              <input name="to" type="hidden" value="{{ date_to.isoformat }}" />
              <span class="save event"><input type="submit" value="Speichern"></span>
            </form>
            <span><a href="{% url 'vaple_core:event_folder' event.id %}#content" class="pat-modal">Wählen</a><a href="{% url 'vaple_core:event_folder_open' event.id %}">Öffnen</a></span>
            <span></span>
        </div>
    {% empty %}
        <p>Keine Veranstaltungen mit den gewählten Kriterien gefunden.</p>
    {% endfor %}
    {% if show_orphans %}
        {% if orphans %}
        <div class="row header">
            <span class="small"></span>
            <span>Datum</span>
            <span>Mitarbeiter</span>
        {% for name in verbose_names %}
            <span>{{ name }}</span>
        {% endfor %}
        </div>
        {% endif %}
    {% for event, form in orphans %}
        <div class="row">
          <span>
          </span>
          <form id="eventdate-add-form-{{ event.id }}" method="post" class="pat-autosubmit"
                action="{% url 'vaple_core:add_event_date' %}">
              {% csrf_token %}
              <input name="event" type="hidden" value="{{ event.id }}" />
              <span>
                  <input name="date" type="date" value="{{ today }}" />
                  <input name="from" type="hidden" value="{{ date_from.isoformat }}" />
                  <input name="to" type="hidden" value="{{ date_to.isoformat }}" />
                  <input class="save" type="submit" value="Speichern">
              </span>
          </form>
          <span>
          </span>
          <form id="event-form-{{ event.id }}" method="post" class="pat-autosubmit pat-inject"
                data-pat-autosubmit="delay: 3000ms"
                action="{% url 'vaple_core:update_event' event.id %}#event-form-{{ event.id }}">
            {% csrf_token %}
            {{ form.as_spans }}
            <span></span>
            <input name="from" type="hidden" value="{{ date_from.isoformat }}" />
            <input name="to" type="hidden" value="{{ date_to.isoformat }}" />
            <span class="save"><input type="submit" value="Speichern"></span>
          </form>
          <form method="post" action="{% url 'vaple_core:delete_event' event.id %}">
            {% csrf_token %}
            <input name="from" type="hidden" value="{{ date_from.isoformat }}" />
            <input name="to" type="hidden" value="{{ date_to.isoformat }}" />
            <span><input type="submit" value="Löschen"></span>
          </form>

        </div>
    {% endfor %}
    {% endif %}
    <form id="new-event" method="post" action="{% url 'vaple_core:add_event' %}">
        {% csrf_token %}
        <input name="title" type="hidden" value="Neue Veranstaltung" />
        <input name="room" type="hidden" value="" />
        <input name="sound_type" type="hidden" value="NONE" />
        <input name="from" type="hidden" value="{{ date_from.isoformat }}" />
        <input name="to" type="hidden" value="{{ date_to.isoformat }}" />
        <input type="submit" value="Neu">
    </form>
    <div class="admin">
        <a href="/admin">Admin</a>
    </div>
{% endblock %}
