a, a:visited {
    color: blue;
}
.quicklinks {
    padding-bottom: .5em;
}
.quicklinks .current {
    font-weight: bold;
}
.export {
    padding: .5em;
}
.export a {
    padding: .25em;
}
.admin,
#new-event {
    float: right;
}
div.event-list form {
    display: contents;
}
div.event-list .row {
    display: table-row;
}
div.event-list .row:nth-child(odd) {
    background-color: #EEE;
}
.save,
div.event-list .save,
div.event-list span.save {
    display: none;
}
div.event-list span {
    display: table-cell;
    vertical-align: middle;
}
div.event-list .header span {
    height: 2em;
}
div.event-list span.small {
}
div.event-list span textarea {
    height: 6em;
}
div.event-list span select {
    background-color: #FFF;
}
div.event-list span ul#id_employees {
    list-style-type: none;
    padding-left: 0;
}
div.event-list .wanted {
    background-color: #FF7900;
}
div.event-list .row:nth-child(odd) .wanted {
    background-color: #EE6800;
}
