.quicklinks {
    padding-bottom: .5em;
}
div.event-list form {
    display: contents;
}
div.event-list .row {
    display: table-row;
    height: 4em;
}
div.event-list .row:nth-child(odd) {
    background-color: #EEE;
}
div.event-list span {
    display: table-cell;
    height: 4em;
    padding-right: 1em;
}
div.event-list span.small {
}
div.event-list span textarea {
    height: 3em;
}
div.event-list span select {
    background-color: #FFF;
}
div.event-list .wanted {
    background-color: #FF7900;
}
div.event-list .save {
    display: none;
}
